<!DOCTYPE html>

<head>
    <title>
        Проф ориентация
    </title>
    <link rel="stylesheet" href="https://tingle.robinparisi.com/tingle/tingle.css">
    <script src="https://tingle.robinparisi.com/tingle/tingle.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <script src="/static/velcome.js"></script>
    <div  class="container">
    <form name="questions" class="form-check">
        <h2>Какая из следующих областей деятельности вам наиболее интересна? </h2>
        <div><input type="radio" name="1" value="inf" checked class="form-check-input" id="1">
            <label class="form-check-label" for="1">Информационные технологии и программирование</label>
        </div>
        <div><input type="radio" name="1" value="med" class="form-check-input" id="2">
            <label class="form-check-label" for="2">Медицина и здравоохранение</label>
        </div>
        <div><input type="radio" name="1" value="isc" class="form-check-input" id="3">
            <label class="form-check-label" for="3">Искусство и дизайн</label>
        </div>
        <div><input type="radio" name="1" value="inj" class="form-check-input" id="4">
            <label class="form-check-label" for="4">Инженерия и технические науки</label>
        </div>
        <div><input type="radio" name="1" value="ec" class="form-check-input" id="5">
            <label class="form-check-label" for="5">Финансы и экономика</label>
        </div>
        <div><input type="radio" name="1" value="obr" class="form-check-input" id="6">
            <label class="form-check-label" for="6">Социальные науки и гуманитарные исследования</label>
        </div>
        <h2>Какие из следующих навыков у вас есть? </h2>
        <div><input type="radio" name="2" checked value="inf" class="form-check-input" id="7">
            <label class="form-check-label" for="7">Умение работать с компьютером и программами</label>
        </div>
        <div><input type="radio" name="2" value="inj" class="form-check-input" id="8">
            <label class="form-check-label" for="8">Сильные логические и аналитические навыки </label>
        </div>
        <div><input type="radio" name="2" value="isc" class="form-check-input" id="9">
            <label class="form-check-label" for="9">Творческие способности и умение работать с цветом и формой</label>
        </div>
        <div><input type="radio" name="2" value="inj" class="form-check-input" id="10">
            <label class="form-check-label" for="10">Хорошая математика и умение решать проблемы</label>
        </div>
        <div><input type="radio" name="2" value="ec" class="form-check-input" id="11">
            <label class="form-check-label" for="11">Навыки финансового анализа и планирования</label>
        </div>
        <div><input type="radio" name="2" value="obr" class="form-check-input" id="12">
            <label class="form-check-label" for="12">Умение общаться и работать с людьми</label>
        </div>
        <h2>Какие ваши интересы и хобби? </h2>
        <div><input type="radio" name="3" value="med" checked class="form-check-input" id="13">
            <label class="form-check-label" for="13">Забота о здоровье и спорт</label>
        </div>
        <div><input type="radio" name="3" value="isc" class="form-check-input" id="14">
            <label class="form-check-label" for="14">Рисование и творчество</label>
        </div>
        <div><input type="radio" name="3" value="inj" class="form-check-input" id="15">
            <label class="form-check-label" for="15">Разборка и сборка различных устройств</label>
        </div>
        <div><input type="radio" name="3" value="ec" class="form-check-input" id="16">
            <label class="form-check-label" for="16">Бухгалтерия и финансы</label>
        </div>
        <div><input type="radio" name="3" value="obr" class="form-check-input" id="17">
            <label class="form-check-label" for="17">Волонтерская и благотворительная деятельность</label>
        </div>
        <h2>Какие профессии вас привлекают </h2>
        <div><input type="radio" name="4" checked value="inf" class="form-check-input" id="18">
            <label class="form-check-label" for="18">Программист, системный аналитик, веб-дизайнер
            </label>
        </div>
        <div><input type="radio" name="4" value="med" class="form-check-input" id="19">
            <label class="form-check-label" for="19">Врач, медсестра, фармацевт
            </label>
        </div>
        <div><input type="radio" name="4" value="isc" class="form-check-input" id="20">
            <label class="form-check-label" for="20">Художник, дизайнер, фотограф
            </label>
        </div>
        <div><input type="radio" name="4" value="ec" class="form-check-input" id="21">
            <label class="form-check-label" for="21">Финансовый аналитик, бухгалтер, экономист
            </label>
        </div>
        <div><input type="radio" name="4" value="obr" class="form-check-input" id="22">
            <label class="form-check-label" for="22">Педагог, социальный работник, журналист
            </label>
        </div>
        <h2>Какие у вас цели на будущее? </h2>
        <div><input type="radio" name="5" checked value="inf" class="form-check-input" id="23">
            <label class="form-check-label" for="23">Создать свое собственное программное обеспечение или стартап</label>
        </div>
        <div><input type="radio" name="5" value="med" class="form-check-input" id="24">
            <label class="form-check-label" for="24">Помогать людям и заботиться о их здоровье</label>
        </div>
        <div><input type="radio" name="5" value="isc" class="form-check-input" id="25">
            <label class="form-check-label" for="25">Самовыражение через искусство и дизайн</label>
        </div>
        <div><input type="radio" name="5" value="inj" class="form-check-input" id="26">
            <label class="form-check-label" for="26">Разработка новых технических решений и технологий</label>
        </div>
        <div><input type="radio" name="5" value="ec" class="form-check-input" id="27">
            <label class="form-check-label" for="27">Управление финансами и бизнес-процессами</label>
        </div>
        <div><input type="radio" name="5" value="obr" class="form-check-input" id="28">
            <label class="form-check-label" for="28">Работа с сообществом и создание положительных изменений</label>
        </div>
        <h2>Какие у вас представления о своих сильных и слабых сторонах? </h2>
        <div><input type="radio" name="6" checked value="inf" class="form-check-input" id="29">
            <label class="form-check-label" for="29">Я хорошо разбираюсь в компьютерах и технологиях</label>
        </div>
        <div><input type="radio" name="6" value="inj" class="form-check-input" id="30">
            <label class="form-check-label" for="30">У меня сильные логические и аналитические навыки</label>
        </div>
        <div><input type="radio" name="6" value="isc" class="form-check-input" id="31">
            <label class="form-check-label" for="31">У меня хорошо развито воображение и творческие способности</label>
        </div>
        <div><input type="radio" name="6" value="inj" class="form-check-input" id="32">
            <label class="form-check-label" for="32">Мне нравится работа с математикой и проблемами</label>
        </div>
        <div><input type="radio" name="6" value="ec" class="form-check-input" id="33">
            <label class="form-check-label" for="33">Я умею планировать и анализировать финансы</label>
        </div>
        <div><input type="radio" name="6" value="obr" class="form-check-input" id="34">
            <label class="form-check-label" for="34">Я коммуникабельный и умею работать с людьми</label>
        </div>
        <h2>Какие практические опыт или навыки вы бы хотели получить в процессе обучения? </h2>
        <div><input type="radio" name="7" checked value="inf" class="form-check-input" id="35">
            <label class="form-check-label" for="35">Освоение основ программирования и создание своего сайта или приложения</label>
        </div>
        <div><input type="radio" name="7" value="med" class="form-check-input" id="36">
            <label class="form-check-label" for="36">Участие в медицинских или волонтерских программ</label>
        </div>
        <div><input type="radio" name="7" value="isc" class="form-check-input" id="37">
            <label class="form-check-label" for="37">Овладение навыками рисования и создания дизайна </label>
        </div>
        <div><input type="radio" name="7" value="inj" class="form-check-input" id="38">
            <label class="form-check-label" for="38">Разборка и сборка различных устройств или конструирование моделей</label>
        </div>
        <div><input type="radio" name="7" value="ec" class="form-check-input" id="39">
            <label class="form-check-label" for="39">Освоение навыков работы с финансовой отчетностью и планированием</label>
        </div>
        <div><input type="radio" name="7" value="obr" class="form-check-input" id="40">
            <label class="form-check-label" for="40">Участие в проектах социального значения или журналистской деятельности</label>
        </div>
        <h2>Какие предметы вам нравятся больше всего? </h2>
        <div><input type="radio" name="8" checked value="isc" class="form-check-input" id="41">
            <label class="form-check-label" for="41">гуманитарные (литература, история, языки)</label>
        </div>
        <div><input type="radio" name="8" value="inj" class="form-check-input" id="42">
            <label class="form-check-label" for="42">естественно-научные (математика, физика, биология)</label>
        </div>
        <div><input type="radio" name="8" value="ec" class="form-check-input" id="43">
            <label class="form-check-label" for="43">социально-экономические (экономика, право, политология)</label>
        </div>
        <h2>Какие области работы вам кажутся наиболее перспективными? </h2>
        <div><input type="radio" name="9" checked value="isc" class="form-check-input" id="44">
            <label class="form-check-label" for="44">искусство, культура, медиа
            </label>
        </div>
        <div><input type="radio" name="9" value="inf" class="form-check-input" id="45">
            <label class="form-check-label" for="45">IT-сфера, научные исследования</label>
        </div>
        <div><input type="radio" name="9" value="ec" class="form-check-input" id="46">
            <label class="form-check-label" for="46">бизнес, финансы, управление
            </label>
        </div>
        <h2>Как вы представляете свою будущую профессиональную карьеру? </h2>
        <div><input type="radio" name="11" checked value="isc" class="form-check-input" id="47">
            <label class="form-check-label" for="47">хочу быть известным и творческим человеком</label>
        </div>
        <div><input type="radio" name="11" value="inj" class="form-check-input" id="48">
            <label class="form-check-label" for="48">мечтаю внести вклад в науку или разработку новых технологий</label>
        </div>
        <div><input type="radio" name="11" value="ec" class="form-check-input" id="49">
            <label class="form-check-label" for="49">стремлюсь к успеху в бизнесе и лидерству</label>
        </div>
        <input type="button" id="getResult" value="Получить результаты" class="btn btn-primary">
    </form>
    </div>
    <script src="/static/get_result.js"></script>
</body>
